<header class="header">
    <a href="https://secure.fr.vente-privee.com/ns/fr-fr/home/default" class="header__back-to-vp event" data-event="TagEvent::Exit" data-label="Back to VP">
        <img src="./img/back-to-vp.png" alt="Retourner sur vente-privee">
    </a>
</header>

<div id="intro" class="intro" >

    <div class="intro__container container">
        <div class="intro__container--left">
            <div class="intro__container--logo">
                <a class="event" data-label=":Tassimo" data-event="TagEvent::Exit" href="#" target="_blank">
                    <img src="./img/logo-marque.png" alt="Logo : Tassimo" class="logo" />
                </a>
            </div>
            <h1 class="intro__container--title">{{ trad.intro.accroche }}</h1>
            <div class="intro__container--tag">{{ trad.intro.tag }}</div>
            <div class="SwipePack--mobile">
                <div class="row swiper-container mob-only">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/4-Twinings.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/3-CafeLong.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/2-Milka.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/1-OrClassique.png)"></div>
                    </div>
                </div>
            </div>
            <img class="intro__container--right no-desktop" src="./img/product-small.png" alt="" >
            <button  id='work' type="button" name="{{ trad.intro.cta }}" class="intro__container--btn button bottom event scrollTo" data-scroll=".screen--1" data-event="TagEvent::Page" data-label="intro :: {{ trad.intro.cta }}" >{{ trad.intro.cta }}</button>
        </div>

        <div class="intro__container--right desktop-only">
            <div class="SwipePack">
                <div class="row swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/4-Twinings.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/3-CafeLong.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/2-Milka.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./img/bloc1/1-OrClassique.png)"></div>
                    </div>
                </div>
            </div>
            <img src="./img/bloc1/tasse.png"    alt="tasse" class="tasse item-abs animated fadeInRight" />
            <img src="./img/bloc1/Suchards.png" alt="suchards" class="suchards item-abs  fadeInRight animated" />
            <img src="./img/bloc1/twinings.png" alt="twinings" class="twinings item-abs fadeInRight animated" />
        </div>

    </div>
    <div class="clearfix"></div>
</div>