<div class="fixable">
    <div class="marketing js-waypoint-wrapper">
        <div class="marketing__wrapper js-waypoint-content">
            <div class="marketing__inner">
                <div class="marketing__txt">
                    <p class="marketing__txt--1">{{ trad.marketing.txt1 }}</p>
                    <p class="marketing__txt--2">{{ trad.marketing.txt2 }}</p>
                </div>
                {#<p class="marketing__txt--3">
                    {{ trad.marketing.txt3 }}
                </p>#}

                <a target="_blank" href="{{ trad.links.generic }}" class="marketing__cta button bottom event" data-event="TagEvent::Exit" data-label=":{{ trad.marketing.cta }}">{{ trad.marketing.cta }}</a>
            </div>
        </div>
    </div>
</div>
